keras>=2.11.0
numpy>=1.24.2
pandas>=1.5.3
scikit-learn>=1.2.2
mediapipe~=0.9.1.0
moviepy~=1.0.3
mldesigner~=0.1.0b12
matplotlib~=3.7.1
opencv-python>=4.7.0.72
django-scheduler>=0.10.1
seaborn>=0.12.2
xlrd>=1.0.0
bayeso>=0.5.3
tensorflow>=2.11.0